DATABASE_URL=postgresql://postgres:NewP%40ssword123@localhost:5432/bank_transfer
REDIS_HOST=localhost
REDIS_PORT=6379
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
